// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$orange-md: #FA6140;
$blue-md: #327DE0;
$blue-light: #81E2F5;
$green-md: #53DFB2;
$green-light: #BAF9B8;
$gray-md: #828282;
