.add-song {
  margin: 3rem 0;
}

.buttons-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@-moz-document url-prefix() {
  .form-select {
    font-family: "filson-soft", "Helvetica", "sans-serif";
    color: $gray-md;
  }
}
