.playlist-list li {
  list-style-position: inside;
}

.playlist-list-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.playlist-hr {
  border: 2px solid $blue-md;
}

.playlist-menu a{
margin-left: 40px;
}

.fa-pen-clip{
  color: $orange-md;
  top: 5px;
  background-color: #f4f4f4;
  padding: 10px;
}
