.score-bg{
  background-color: $blue-light;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap:1rem;
  align-items: center;
  padding-bottom: 1%;
}

.align-cards{
  display: flex;
  gap: 50px;
  width: 100%;
}

.rating{
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  align-items: center;
  background-color: $green-md;
  color: $gray-md;
  border-radius: 2px;
}

.card-body-score {
  padding: 0 0 1rem 0;
}

.score{
  font-size: 7rem;
  align-items: center;
  color: $blue-md;
  font-weight: bolder;
  text-align: center;
}

.phrase{
  font-size: 2rem;
  // width: 250px;
  // height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;


    .block {
      width: 0%;
      height: inherit;
      background: #ffb510;
      position: absolute;
      animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      display: flex;
      z-index: 1;
    }

    h3 {
      -webkit-animation: mainFadeIn 0.5s forwards;
      -o-animation: mainFadeIn 0.5s forwards;
      animation: mainFadeIn 0s forwards;
      animation-delay: 1.0s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative;
      color: $blue-md;

      span {
        width:0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        background: #ffb510;
        -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
        animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        margin-left: 5px;
        margin-top: -10px;
        position: absolute;
        bottom: 13px;
        right: -12px;

      }
    }
  }
}

.stats{
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  align-items: center;
  background-color: $green-md;
  color: $gray-md;
  border-radius: 2px;
}

.acertos{
  font-size: 2rem;
  font-weight: bolder;
  color: $blue-md;
}

.gabarito{
  font-size: 3rem;
  font-weight: bolder;
  align-items: center;
  background-color: $green-md;
  color: $orange-md;
  margin: 50px auto 0;
  border-radius: 2px;

  .gabarito-p{
    display: flex;
    padding: 20px;
    gap: 20px;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;

  }
}

.time{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
// @keyframes secFadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0.5;
//   }
// }

@media (max-width: 600px) {
  .align-cards{
    flex-direction: column;
  }

  .gabarito{
    width:100%;
  }
}

.score-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 1rem;
  padding: 0.75rem 5% 0% 5%;
}

.score-play-again {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #baf9b8;
  padding: 4rem;
}

@media(max-width: 992px) {
  .score-wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .score-wrap {
    grid-template-columns: 1fr;
  }
}

.answers {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  padding-left: 0.5rem;
  margin-left: -1rem;
}

.wrong-answer {
  text-decoration:line-through;
  color:$orange-md;
}

.right-answer {
  color:$green-md;
  font-weight: bold;
}
