.random {
  margin: 4rem 0 6rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 2rem;
}


@media(max-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.genre-txt {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: $blue-light;
  width: fit-content;
  padding: 0.15rem 0.5rem;
  color: white;
  margin-bottom: 0.5rem;

}
