<div class="footer-wrap">
    <p class="footer-text mb-1">Project build during the LeWagon Bootcamp by&emsp;</p>
    <p class="footer-text mb-1"><i class="fab fa-github"></i> <a href='https://github.com/fabiogardinal', class="footer-text">Fabio</a> | <a href='https://github.com/hopippolla', class="footer-text">Felipe</a> | <a href='https://github.com/vasconsaurus', class="footer-text">Manu</a> | <a href='https://github.com/MoisesMarinho', class="footer-text">Moisés</a></p>
</div>
