<div class="footer-wrap">
    <p class="mb-1">Project build during the LeWagon Bootcamp by&emsp;</p>
    <p class="mb-1"><i class="fab fa-github"></i> <a href='https://github.com/fabiogardinal'>Fabio</a> | <a href='https://github.com/hopippolla'>Felipe</a> | <a href='https://github.com/vasconsaurus'>Manu</a> | <a href='https://github.com/MoisesMarinho'>Moisés</a></p>
</div>
