
<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522863602463-afebb8886ab2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29tYW4lMjBzaW5nfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);">
  <h1 class="txt-blue-md banner-small-top">PICK A SONG! START LEARNING!</h1>

  <section class="random">
    <div class="button orange-button">
      <%= link_to 'Pick a song for me!', song_path(@song, level: "beginner") %>
    </div>
  </section>
</div>

<div class="cards-wrap">
  <div data-controller="search-songs" class='cards-wrap'>
    <%= form_with url: songs_path, method: :get, html: { class:
      'mb-4', data: { search_songs_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control song-search-bar",
                      placeholder: 'Search a song!',
                      value: params[:query],
                      data: { search_songs_target: 'input',
                              action: 'keyup->search-songs#update' } %>

    <% end %>

    <%= render "list", songs: @songs %>
  </div>
</div>
