<div class="page-wrap score-bg" data-controller="score">

  <div class="align-cards">
    <div class = "card rating"> SCORE
        <div class="card-body score">
          <span data-score-target="rating" data-value=<%= @final_rating %>>
          <%= @final_rating %>
        </span>
            <div class="phrase">
              <div class="title">
                <span class="block"></span>
        <% case 0
        when @final_rating >= 0 %>
           <p> "Dont panic. We gotta start somewhere." </p>
        <% when @final_rating >= 25 %>
           <p> "Listen to the song a few more times." </p>
        <%when @final_rating >= 50 %>
           <p> "I know you can do better!" </p>
        <%when @final_rating >= 75 %>
           <p> "Good job. You almost made it!"</p>
        <%when @final_rating = 100 %>
           <p> "You are a song master."</p>
        <% end %>
              </div>
            </div>
        </div>
    </div>

    <div class = "card stats"> STATS
      <div class="card-body time">
        <p></p>
        <p class="acertos"> CORRECT ANSWERS: X/X </p>
        <p class="acertos"> TIME: 0'00'' </p>
      </div>
    </div>
  </div>

    <div class = "card gabarito"> WORDS
      <div class="gabarito-p">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ab nobis officiis eius, debitis error est non molestiae perspiciatis neque voluptatum minima at, adipisci rem iusto reiciendis vero odio quae?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id sunt placeat obcaecati ad consequuntur facilis est porro tempore maxime voluptatum? Omnis veniam, suscipit quisquam laboriosam dolor dignissimos saepe deserunt voluptatum.</p>
      </div>
    </div>

</div>
