<div class="container">
  <div class="row">
    <div class="column">
      <div class="card my-5">
      </div>
    </div>
  </div>




  <div class="row mb-5">
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5 class = card-title> <%= @song.artist %> - <%= @song.title %> </h5>

        </div>
        <div class="card-body bg-transparent bg-opacity-50">

          <p class="mb-1"><%= @song.lyrics %></p>


        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5>Tradução</h5>
        </div>
        <div class="card-body bg-transparent bg-opacity-50">
          <p class="mb-1"><%= @song.translation %></p>
        </div>
      </div>
    </div>
  </div>
