<div class="page-wrap">
  <h1>HOUSE OF RISING SUN</h1>
  <h2>HOUSE OF RISING SUN</h2>
  <h3>HOUSE OF RISING SUN</h3>
  <h4>HOUSE OF RISING SUN</h4>
  <h5>HOUSE OF RISING SUN</h5>
  <h6>HOUSE OF RISING SUN</h6>

  <p>My mother was a tailor</p>
  <p>She sewed my new <a href='#'>bluejeans</a></p>
  <p>My <span class='italic'>father</span> was a gamblin' man</p>
  <p>Down in <span class='bold'>Sin City</span></p>

  <div class="button"><%= link_to "Index", songs_path %></div>
  <div class="button-login"><%= link_to "Login", new_user_session_path %></div>
  <div class="button-recover-password">Recover your password</div>
  <div class="button-signup"><%= link_to "Sign up", new_user_registration_path %></div>
  <div class="button-back">Back</div>
  <div class="button-submit">Submit</div>
  <div class="button-delete-account">Delete Account</div>
  <div class="button-save-updates">Save/Update</div>
</div>
