<div class="page-wrap">
  <h1>House of Rising Sun</h1>
  <h2>House of Rising Sun</h2>
  <h3>House of Rising Sun</h3>
  <h4>House of Rising Sun</h4>
  <h5>House of Rising Sun</h5>
  <h6>House of Rising Sun</h6>

  <p>My mother was a tailor</p>
  <p>She sewed my new <a href='#'>bluejeans</a></p>
  <p>My <span class='italic'>father</span> was a gamblin' man</p>
  <p>Down in <span class='bold'>Sin City</span></p>
</div>
