<section>
  Banner
</section>


<section class="page-wrap">
  <h2> Have you ever wondered if learning a laguange could be more fun?</h2>
  <p> With SingyTalkie you can learn with your favorite songs!</p>
  <ul>
  <li>Listen to your favorite songs!</li>
  <li>Fill the blanks!</li>
  <li>Read the translation!</li>
  <li>View your score and specs!</li>
  <li>Become a master of your favorite song!</li>
  </ul>
</section>

<footer>footer</footer>
