<div class="page-wrap">
  <h1>HOUSE OF RISING SUN</h1>
  <h2>HOUSE OF RISING SUN</h2>
  <h3>HOUSE OF RISING SUN</h3>
  <h4>HOUSE OF RISING SUN</h4>
  <h5>HOUSE OF RISING SUN</h5>
  <h6>HOUSE OF RISING SUN</h6>

  <p>My mother was a tailor</p>
  <p>She sewed my new <a href='#'>bluejeans</a></p>
  <p>My <span class='italic'>father</span> was a gamblin' man</p>
  <p>Down in <span class='bold'>Sin City</span></p>

  <div class="button button-login"><%= link_to "Aplica round corners", songs_path %></div>
  <div class="button-login"><%= link_to "Login", new_user_session_path %></div>
  <div class="button-recover-password"><a href='#'>Recover your password</a></div>
  <div class="button-signup"><%= link_to "Sign up", new_user_registration_path %></div>
  <div class="button-back"><a href='#'>Back</a></div>
  <div class="button-submit"><a href='#'>Submit</a></div>
  <div class="button-delete-account"><a href='#'>Delete Account</a></div>
  <div class="button-save-updates"><a href='#'>Save/Update</a></div>
</div>
