.banner {
  background-position: center;
  padding: 15px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 2rem 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

@media(max-width: 992px) {
  .banner h1 {
    font-size: 54px;
  }
}

@media(max-width: 768px) {
  .banner h1  {
    font-size: 44px;
  }
}
