// round corners and sets our buttons general appearence
.button {
  border-radius: 30px;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  width:15rem;
  font-size: 1.5rem;
  line-height: 1.95rem;
  text-align: center;
  display: block;
  background-color: transparent;

  a {
    text-decoration: none;
  }
}

// smaller button for levels
.button-small {
  border-radius: 30px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  width: 10rem;
  font-size: 1rem;
  border: 2px solid $orange-md;
  color: $orange-md;
  text-align: center;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}

//button white background
.bck-white {
  background-color: white;
}

// this button-a was made because our classes where not working with a in simple form buttons
.button-a {
  text-decoration: none;
}

.button-a:hover{
  color: white;
}

a.btn:hover a.button:hover{
  color: white;
}

//button a for orange solid button
.button-a-solid {
  text-decoration: none;
}

.button-a-solid:hover{
  color: $orange-md;
}

// the nesting was working but seems to not work with a in simple form buttons
.orange-button {
  border: 2px solid $orange-md;
  color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}

.blue-button{
  border: 2px solid $blue-md;
  color: $blue-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $blue-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $blue-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}

.orange-solid-button{
  border: 2px solid $orange-md;
  color: white;
  background-color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: transparent;
    transition: 0.3s linear;
  }

  &:hover a {
    color: $orange-md;
  }
}

.gray-button{
  border: 2px solid gray;
  color: white;
  background-color: grey;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: gray;
    transition: 0.3s linear;
  }

  &:hover a {
    color: $orange-md;
  }
}

.white-button {

  color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  background-color: white;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}

.forgot-buttons{
  color: rgba(255, 255, 255, 1.0);
}
