.button {
  border-radius: 30px;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    text-decoration: none;
  }
}


.button-login {
  border: 2px solid $green-md;
  color: $green-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $green-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $green-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}


.button-recover-password {
  border: 2px solid $blue-md;
  color: $blue-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $blue-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $blue-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}


.button-signup {
  border: 2px solid $blue-md;
  color: $blue-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $blue-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $blue-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}


.button-back{
  border: 2px solid $green-md;
  color: $green-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $green-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $green-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}


.button-submit{
  border: 2px solid $orange-md;
  color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}


.button-delete-account{
  border: 2px solid $orange-md;
  color: white;
  background-color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: white;
    transition: 0.3s linear;
  }

  &:hover a {
    color: $orange-md;
  }
}


.button-save-updates {
  border: 2px solid $orange-md;
  color: $orange-md;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;

  a {
    color: $orange-md;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-md;
    transition: 0.3s linear;
  }

  &:hover a {
    color: white;
  }
}
