// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $blue-light;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  gap: 3rem;
}

/**
┌─┐┌─┐┌─┐  ┬ ┬┌─┐┌┬┐┌┐ ┬ ┬┬─┐┌─┐┌─┐┬─┐  ┌┬┐┌─┐┌┐┌┬ ┬
│  └─┐└─┐  ├─┤├─┤│││├┴┐│ │├┬┘│ ┬├┤ ├┬┘  │││├┤ ││││ │
└─┘└─┘└─┘  ┴ ┴┴ ┴┴ ┴└─┘└─┘┴└─└─┘└─┘┴└─  ┴ ┴└─┘┘└┘└─┘
**/
/** always use classes and id's,[Type=checkbox] is slow css **/

.checkbox-container {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  background: $green-light;
}

.checkbox-trigger {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 40px;
    height: 4px;
    margin: 1.3em 3em;
    transition: background 0.3s;
}

.hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.7em 0 0;
    transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
}

.hamburger-menu::after {
   margin-top: 0.7em;
}

.hamburger-menu {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 1.45em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-bottom: 1.45em;
  transition: width 0.3s ease;
}

.checkbox-trigger:checked {
  left: 202px;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  transition: width 0.7s ease 0.7s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 200px;
  height: 100vh;
  transition: width 0.7s ease 0.3s, height 0.3s ease;
}

.menu-content {
  display: flex;
  background: $green-light;
  color: white;
  float: left;
}

.menu-content ul {
  display: block;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0.7s, width 0.7s ease;
}

.menu-content ul li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: color 0.5s, background 0.5s;
}

.first-li {
  margin-top: 3em;
}

// .menu-content ul li:hover {
// }
