<div class="background-new-playlist">

  <div class="devise-wrap">
    <h3 class="title-form">Editing Playlist</h3>

    <%= render 'form', playlist: @playlist %>

    <%= link_to 'Back', playlists_path, class: "button-small gray-button button-a" %>
  </div>
</div>
