<div class="container mt-5">
  <%= link_to 'New playlist', new_playlist_path, class: "btn btn-primary"%>
</div>

<div class="container mt-5">
  <% @playlists.each do |playlist| %>
    <%= link_to playlist_path(playlist) do %>
      <div class="card-category">
        <%= playlist.title %>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
