<div class="page-wrap">
  <ol class="playlist-list">
    <% @playlists.each do |playlist| %>
      <div class="playlist-list-container">
        <li class="playlist-list"><%= playlist.title %></li>
        <div>
          <%= link_to "change playlist name", edit_playlist_path(playlist), method: 'GET', class: "button-small orange-button button-a"%>
          <%= link_to "go to playlist", playlist_path(playlist), class: "button-small orange-button button-a" %>

        </div>
      </div>
      <hr class="playlist-hr">
    <% end %>
  </ol>

  <%= link_to 'New playlist', new_playlist_path, class: "button orange-button button-a wrap-button-center"%>
</div>

